PORT=5000
NODE_ENV=development
UPLOAD_DIR=uploads
CLIENT_URL=http://localhost:5173

DB_HOST=localhost
DB_PORT=5432
DB_NAME=licensing_db
DB_USER=postgres
DB_PASSWORD=secret

JWT_SECRET=P5Q4wsxMywiIepXC6gtQwRdQNP5Q4wsoVatYTVZXhwIjoxNzM4Nzg4ODEzfQMywiIepXC6gtQwRdQNP5Q4wso
JWT_REFRESH_SECRET=xMywiIepXC6gtQwRdQNP5Q4wsoVatYTVZXhwIjoxNzM4Nzg4ODEzfQ
JWT_EXPIRES_IN=900
JWT_REFRESH_EXPIRES_IN=604800
